

<div class="bg-gray-100">
  <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <h2 class="mt-6 mb-2 text-center text-3xl font-extrabold text-gray-900">
              Forget Password
          </h2>
      </div>
      @if(!isCodeForm && !isNewPassForm)
      {
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
              <form class="space-y-6" (ngSubmit)="verifyBtn()" [formGroup]="emailForm">
                  <div>
                      <label for="email" class="block text-sm font-medium text-gray-700">
                          Email address
                      </label>
                      <div class="mt-1">
                          <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
                              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                      @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched)
                      {
                          <p class="mt-2 text-sm text-red-600">
                              @if(emailForm.get('email')?.errors?.['required'] )
                              {
                                  <span class="font-medium">Error:</span> email is required. 
                              }
                              @else if (emailForm.get('email')?.errors?.['email']) 
                              {
                                  <span class="font-medium">Error:</span> enter a valid email adress. 
                              }
                          </p>
                      }
                  </div>
                  

                  <div>
                      <button type="submit" [disabled]="emailForm.invalid"
                          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#1F2937] hover:bg-[#374151] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1F2937]">
                          @if(isLoading){
                              <div class="loader"></div>
                          } @else{
                              Send Me Code 
                          } 
                      </button>
                  </div>
              </form>
          </div>
      </div>
      }
      @if(isCodeForm)
      {
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form class="space-y-6" (ngSubmit)="codeBtn()" [formGroup]="codeForm">
              <div>
                  <label for="resetCode" class="block text-sm font-medium text-gray-700">
                      code
                  </label>
                  <div class="mt-1">
                      <input id="resetCode" name="resetCode" type="text" placeholder="reset code" required formControlName="resetCode"
                          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
                  @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched)
                  {
                      <p class="mt-2 text-sm text-red-600">
                        @if(codeForm.get('resetCode')?.errors?.['required'] )
                        {
                          <span class="font-medium">Error:</span>  resetCode is Requied
                        }
                      </p>
                  }
              </div>


              <div>
                  <button type="submit" [disabled]="emailForm.invalid"
                      class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#1F2937] hover:bg-[#374151] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1F2937]">
                      @if(isLoading){
                          <div class="loader"></div>
                      } @else{
                          Verify Code 
                      } 
                  </button>
              </div>
          </form>
        </div>
      }
      @if(isNewPassForm)
      {
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
              <form class="space-y-6" (ngSubmit)="newPassBtn()" [formGroup]="resetPassForm">
                  <div>
                      <label for="email" class="block text-sm font-medium text-gray-700">
                          Email address
                      </label>
                      <div class="mt-1">
                          <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
                              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                      @if(resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched)
                      {
                          <p class="mt-2 text-sm text-red-600">
                              @if(resetPassForm.get('email')?.errors?.['required'] )
                              {
                                  <span class="font-medium">Error:</span> email is required. 
                              }
                              @else if (resetPassForm.get('email')?.errors?.['email']) 
                              {
                                  <span class="font-medium">Error:</span> enter a valid email adress. 
                              }
                          </p>
                      }
                  </div>
                  <div>
                      <label for="password" class="block text-sm font-medium text-gray-700">
                          Password
                      </label>
                      <div class="mt-1 relative">
                          <input id="newPassword" name="newPassword" type="newPassword" autocomplete="new-newPassword" required formControlName="newPassword"
                              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      </div>
                      @if(resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched)
                      {
                          <p class="mt-2 text-sm text-red-600">
          
                              @if(resetPassForm.get('newPassword')?.errors?.['required'] )
                              {
                                  <span class="font-medium">Error: </span>newPassword is Requied
                              }
                              @else if (resetPassForm.get('newPassword')?.errors?.['pattern']) 
                              {
                                  <span class="font-medium">Error:</span> Kindly enter valid newPassword
                              }
                          </p>
                      }
                  </div>

                  <div>
                      <button type="submit" [disabled]="resetPassForm.invalid"
                          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#1F2937] hover:bg-[#374151] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1F2937]">
                          @if(isLoading){
                              <div class="loader"></div>
                          } @else{
                              Change Password 
                          } 
                      </button>
                  </div>
              </form>
          </div>
      </div>
      }
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------ -->




